ansible/*.ini
ansible/*.ini.bak
ansible/playbooks/files

terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info

garmin-key.pem

.venv